<html>
<link rel="stylesheet" href="/css/partials/header.css">
<header class="header">

    <ul>


        <li><a href="/">მთავარი</a></li>
        <li><a href="/signup">რეგისტრაცია</a></li>
        
    </ul>

</header>

</html>